<%= stylesheet_link_tag 'hello_index', :media => "all" %>

<div style="position: relative; width: 100%;z-index:9;">
  <%= video_tag("muscleB.mp4", loop: true, autoplay: true, muted: true, style: "width: 100%;", class:"abcd") %>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%;">
    <h2 style="color: white; font-size: 24px; background-color: rgba(0, 0, 0, 0.5); padding: 10px;">Let's enhance each other</h2>
  </div>
</div>