.tweet {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #464d5ba6;
  }
  
  .comment-wrapper {
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .response{
    color: white;
  }
  .comment-content {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
  }

